@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #302e2b; /* Màu vàng nhạt */
}

/* Dành cho Chrome, Safari, Opera */
::-webkit-scrollbar {
  display: none;
}

/* Dành cho IE, Edge */
* {
  -ms-overflow-style: none;
}

/* Dành cho Firefox */
* {
  scrollbar-width: none;
}

/* Ẩn thanh scroll cho Firefox */
.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Ẩn thanh scroll cho WebKit (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.chess-clock-container {
  width: 100%;
}

.time-display {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.progress-bar {
  position: relative;
  height: 8px;
  background: #444;
  margin-top: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: #4caf50;
  border-radius: 4px;
  transition: width 0.5s ease;
}

.milestone-marker {
  position: absolute;
  top: -4px;
  width: 2px;
  height: 16px;
  background: #ff0000;
}
